<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI 인공지능 의사</title>

    <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>
    <header>
        <p class="page-title">AI 의사 프로젝트</p>
    </header>
    <article>
        <div class="chatbot-view">
            <div class="chatting-logs-view">
                
            </div>
            <div class="chatting-input-view">
                <input type="text" name="query" placeholder="응답을 입력하세요">
            </div>
        </div>
    </article>

    <script
  src="https://code.jquery.com/jquery-3.7.1.js"
  integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
  crossorigin="anonymous"></script>
    <script src="/resources/resource.js"></script>
</body>
</html>